paper/master.toc
paper/master.synctex.gz
paper/master.pdf
paper/master.out
paper/master.log
paper/master.blg
paper/master.aux
paper/chapters/Sprint1/GooglePlay.log
paper/chapters/Collaboration.aux
paper/master.bbl